.meal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.625rem 0.75rem;

    &__name-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: max-content;

        &:hover {
            cursor: pointer;
        }
    }

    &__name {
        margin-right: 0.375rem;
        margin-bottom: 0.125rem;
        font-size: 1.0625rem;
        font-weight: 500;
    }

    &__buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & >:not(:last-child) {
            margin-right: 0.375rem;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.125rem;
        height: 2.125rem;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.25s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--mask-color);
        }

        &--more {
            & > svg {
                width: 1.25rem;
                height: 1.25rem;
                fill: var(--primary-text-color);
            }
        }

        &--add {
            & > svg {
                width: 1.875rem;
                height: 1.875rem;
                stroke: var(--primary-text-color);
            }
        }
    }
}