.basic-progress-bar {
    &__title {
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
        font-weight: 500;
    }

    &__bar {
        width: 100%;
        background-color: var(--main-background-color);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    &__inside {
        height: 100%;
        border-radius: 0.5rem;
    }
}