.navigation {
    position: absolute;
    top: 0;
    right: -14.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 14.5rem;
    min-height: 100vh;
    padding: 0.75rem 0.875rem;
    background-color: var(--card-background-color);
    z-index: 10;
    transition: all 0.3s ease-in-out;
    visibility: hidden;

    &--visible {
        right: 0;
        visibility: visible;
    }

    &__close-button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &__close-button {
        cursor: pointer;

        & > svg {
            width: 2rem;
            height: 2rem;
            fill: var(--primary-text-color);
        }
    }

    &__auth-buttons-container {
        display: flex;
        width: 100%;
        margin-bottom: 1rem;

        & >:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}
