:root {
    --body-background-color: hsl(240, 7%, 8%);
    --card-background-color: hsl(240, 4%, 14%);
    --button-background-color: hsl(240, 2%, 25%);
    --primary-text-color: hsl(240, 0%, 87%);
    --secondary-text-color: hsl(240, 0%, 67%);
    --tertiary-text-color: hsl(240, 0%, 50%);
    --primary-element-color: hsl(238, 87%, 53%);
    --secondary-element-color: hsl(247, 87%, 60%);
    --tertiary-element-color: hsl(251, 89%, 65%);

    --mask-color: hsla(240, 7%, 8%, 0.6);
    --calories-progress-color: hsl(140, 69%, 36%);
    --proteins-progress-color: hsl(216, 74%, 46%);
    --fats-progress-color: hsl(49, 82%, 49%);
    --carbohydrates-progress-color: hsl(288, 90%, 37%);
    --above-limit-progress-color: hsl(0, 73%, 45%);
}

