.meal-products-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0.3125rem 0.625rem;

    &__info-container {
        flex: 1;
    }

    &__name {
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__quantity {
        color: var(--secondary-text-color);
        font-size: 0.875rem;
    }

    &__nutritions-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & >:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__nutrition {
        color: var(--secondary-text-color);
        font-size: 0.875rem;
    }

    &__delete-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.25rem;
        border-radius: 50%;
        background-color: red;
        color: var(--primary-text-color);
        font-size: 1rem;
        cursor: pointer;
    }
}