.home {
    width: 100%;
    max-width: 1440px;
    padding: 1rem 0.625rem;

    &__date-picker-container {
        margin-bottom: 0.5rem;
    }

    &__summary-chart-container {
        margin-bottom: 1rem;
    }

    &__loading-container {
        padding: 1rem;
    }
}
