.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 3.25rem;
    margin-bottom: 0.5rem;
    padding: 0 0.75rem;
    background-color: var(--header-background-color);
}