.arrow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
    cursor: pointer;

    &__icon {
        border: solid var(--primary-text-color);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 0.1875rem;

        &--left {
            margin-left: 0.25rem;
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        &--right {
            margin-right: 0.25rem;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}
