// @use '../abstracts' as *;

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
    -webkit-font-smoothing: antialiased;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}
